﻿@using TheBlogProject.Models
@model IEnumerable<TheBlogProject.Models.Post>

@using TheBlogProject.Services.Interfaces
@inject IImageService imageService

@{
    ViewData["Title"] = "Category";
}

      <!-- main-area -->
        <main class="fix">

            <!-- breadcrumb-area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"> </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- blog-area -->
            <section class="blog-area pt-60 pb-60">
                <div class="container">
                    <div class="author-inner-wrap">
                        <div class="row justify-content-center">
                            <div class="col-70">
                                <div class="weekly-post-item-wrap">


                            @foreach (var post in Model)
                            {

                                        <div class="weekly-post-item weekly-post-four">
                                            <div class="weekly-post-thumb">
                                              <a asp-action="Details"  asp-controller="Posts"  asp-route-id="@post.Id"><img src="@imageService.DecodeImage(post.ImageData,post.ImageType)" alt=""></a>
                                            </div>
                                            <div class="weekly-post-content">
                                                <a asp-controller="Categories" asp-action= "Category" asp-route-id="@post.CategoryId" class="post-tag">@post.Category.title</a>
                                                    <h2 class="post-title"><a asp-action="Details" asp-controller="Posts" asp-route-id="@post.Id"  >@post.Title</a></h2>
                                                <div class="blog-post-meta">
                                                    <ul class="list-wrap">
                                                        <li><i class="flaticon-calendar"></i>@post.Created?.ToString("dd/mm/yyyy")</li>
                                                    </ul>
                                                </div>
                                                <p>@post.Abstract</p>
                                                <div class="view-all-btn">
                                                                      <a asp-action="Details"  asp-controller="Posts"  asp-route-id="@post.Id" class="link-btn">Read More
                                                        <span class="svg-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" fill="none">
                                                                <path d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z" fill="currentColor" />
                                                                <path d="M1.07692 10L0 8.92308L7.38462 1.53846H0.769231V0H10V9.23077H8.46154V2.61538L1.07692 10Z" fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>


                            }


                                </div>
                                <div class="pagination-wrap mt-60">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination list-wrap">
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-30">
                                <div class="sidebar-wrap">
                                    <div class="sidebar-widget">
                                        <div class="sidebar-search">
                                            <form action="#">
                                                <input type="text" placeholder="Search . . .">
                                                <button type="submit"><i class="flaticon-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget sidebar-widget-two">
                                        <div class="widget-title mb-30">
                                            <h6 class="title">Hot Categories</h6>
                                            <div class="section-title-line"></div>
                                        </div>
                                        <div class="sidebar-categories">
                                            <ul class="list-wrap">
                                                <li>
                                                    <a href="blog.html" data-background="assets/img/images/t_cat_img01.jpg">
                                                        <span class="post-tag post-tag-three">Technology</span>
                                                        <span class="right-arrow">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog.html" data-background="assets/img/images/t_cat_img02.jpg">
                                                        <span class="post-tag post-tag-three">Mobile</span>
                                                        <span class="right-arrow">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog.html" data-background="assets/img/images/t_cat_img03.jpg">
                                                        <span class="post-tag post-tag-three">Gadget</span>
                                                        <span class="right-arrow">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog.html" data-background="assets/img/images/t_cat_img04.jpg">
                                                        <span class="post-tag post-tag-three">News</span>
                                                        <span class="right-arrow">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget sidebar-widget-two">
                                        <div class="widget-title mb-25">
                                            <h2 class="title">Subscribe & Followers</h2>
                                            <div class="section-title-line"></div>
                                        </div>
                                        <div class="sidebar-social-wrap">
                                            <ul class="list-wrap">
                                                <li><a href="#"><i class="fab fa-facebook-f"></i>facebook</a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i>twitter</a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i>instagram</a></li>
                                                <li><a href="#"><i class="fab fa-youtube"></i>youtube</a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i>LinkedIn</a></li>
                                                <li><a href="#"><i class="fab fa-pinterest-p"></i>Pinterest</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget sidebar-widget-two">
                                        <div class="widget-title mb-30">
                                            <h6 class="title">Recent News</h6>
                                            <div class="section-title-line"></div>
                                        </div>
                                        <div class="hot-post-wrap">
                                            <div class="hot-post-item">
                                                <div class="hot-post-thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/blog_rc_post.jpg" alt=""></a>
                                                </div>
                                                <div class="hot-post-content">
                                                    <a href="blog.html" class="post-tag">Adventure</a>
                                                    <h4 class="post-title"><a href="blog-details.html">Inspiring Web Design And UX Showcases</a></h4>
                                                    <div class="blog-post-meta">
                                                        <ul class="list-wrap">
                                                            <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                                                            <li><i class="flaticon-history"></i>20 Mins</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hot-post-item">
                                                <div class="hot-post-content">
                                                    <a href="blog.html" class="post-tag">Culture</a>
                                                    <h4 class="post-title"><a href="blog-details.html">Getting Internationalization (i18n) Right With Remix And</a></h4>
                                                    <div class="blog-post-meta">
                                                        <ul class="list-wrap">
                                                            <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                                                            <li><i class="flaticon-history"></i>20 Mins</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hot-post-item">
                                                <div class="hot-post-content">
                                                    <a href="blog.html" class="post-tag">Travel</a>
                                                    <h4 class="post-title"><a href="blog-details.html">A Step-By-Step Guide To Building Accessible Carousels</a></h4>
                                                    <div class="blog-post-meta">
                                                        <ul class="list-wrap">
                                                            <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                                                            <li><i class="flaticon-history"></i>20 Mins</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget sidebar-widget-two">
                                        <div class="sidebar-newsletter">
                                            <div class="icon"><i class="flaticon-envelope"></i></div>
                                            <h4 class="title">Daily Newsletter</h4>
                                            <p>Get all the top stories from Blogs to keep track.</p>
                                            <div class="sidebar-newsletter-form-two">
                                                <form action="#">
                                                    <div class="form-grp">
                                                        <input type="text" placeholder="Enter your e-mail">
                                                        <button type="submit" class="btn">Subscribe Now</button>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="checkbox">
                                                        <label for="checkbox">I agree to the terms & conditions</label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->

             </main>
        <!-- main-area-end -->