﻿@using TheBlogProject.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Enums
@model TheBlogProject.Models.Post

@inject IImageService imageService
@inject UserManager<BTUser> userManager

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col col-md-10">
            <!-- Post Content-->
            <article class="mb-4" style="overflow-x:scroll">
                <div class="container post-body">
                    <div class="row justify-content-center">
                        <div class="col col-md-10">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col col-md-10">
                            <small><i>Created: @Model.Created?.ToString("dd-MMM-yyyy")</i></small>
                        </div>
                    </div>
                </div>
            </article>

            <hr />

                <article>
                    <div class = "row">
                        <div class="col text-center font-weight-bold h3">
                            Custom Post Tags
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col text-center">
                        @foreach (var tag in Model.Tags)
                        {
                            @*<a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>*@
                                    <a class="btn btn-warning btn-sm btn-outline-dark" asp-controller="Posts" asp-action="SearchIndex" asp-route-searchTerm="@tag.Text.ToLower()">#@tag.Text</a>
                        }
                    </div>
                    </div>
                </article>

            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col col-md-10 justify-content-center">
            <!-- Display add comments-->
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="Create" asp-controller="Comments" method="post">
                        @Html.Hidden("PostId", Model.Id)
                        @*@Html.Hidden("slug", Model.Slug)*@
                        <div class="form-group">
                            <label class="h2 control-label font-weight-bold">Add Comment</label>
                            <textarea id="Message" name="body" class="form-control mb-2" rows="10" spellcheck="true"></textarea>
                        </div>
                        <button onclick="ValidateComment()" type="submit" class="btn btn-primary btn-block btn-sm">Submit</button>
                    </form>
                }
                else
                {
                    <a class="btn btn-block btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">Login to add comments</a>
                }

            </div>

            <hr />

            <!-- Display comments related to this post-->
            <button id="commentSection" disabled class="btn btn-sm btn-dark btn-block mb-4">@Model.Comments.Count COMMENT(S)</button>

            @foreach (var comment in Model.Comments)
            {
                    <!-- Display the image of the comments author-->
                    <div class="media media-border p-0 mb-2">
                        <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ImageType)">
                        <div class="media-body">
                            <h4>@comment.BlogUser.DisplayName</h4>
                            <!-- Display Created Date-->
                            <small>
                                <i>
                                @if (comment.Moderated is not null)
                                {
                                            <span class="small">
                                                <span class="font-weight-bolder">
                                                    Moderated <span class="text-danger font-italic">(@comment.ModerationType.ToString().ToLower())</span>
                                                </span>
                                                : @comment.Moderated?.ToString("dd-MMM-yyyy")
                                            </span>
                                }
                                else
                                {
                                    var formattedDate = @comment.Created.HasValue ? @comment.Created.Value.ToString("dd-MMM-yyyy") : "<not available>";
                                            <span class="small font-italic">Posted : @formattedDate</span>
                                }
                                </i>
                            </small>
                            <!-- Diplay Comment-->
                        @if (string.IsNullOrEmpty(comment.Body))
                        {
                                    <p>Comment missing.</p>
                        }
                        else if (comment.Moderated is not null)
                        {
                                    <p>@comment.ModeratedBody</p>
                        }
                        else if (comment.Deleted is null)
                        {
                                    <p>@comment.Body</p>
                        }
                        else if (comment.Deleted is not null)
                        {
                                    <p><span class="small font-weight-bolder text-danger font-italic">This comment was deleted.</span></p>
                        }

                            <!-- Edit Button-->
                        @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
                        {
                                    <hr />
                                    <button data-bs-toggle="modal" data-bs-target="#editModal-@comment.Id" class="btn-sm btn-dark float-right font-weight-bold">EDIT</button>
                        }

                            <!-- Moderate and Delete Buttons-->
                        @if ((User.IsInRole(BlogRole.Moderator.ToString())) || (User.IsInRole(BlogRole.Administrator.ToString())) && comment.Deleted is null)
                        {
                                    <hr />
                                    <div class="row">
                                        <div class="col-2">
                                            <button class="btn-sm btn-warning font-weight-bold btn-block" data-bs-toggle="modal" data-bs-target="#moderateModal-@comment.Id">MODERATE</button>
                                        </div>
                                        <div class="col-2">
                                            <form asp-action="Delete" asp-controller="Comments">
                                        @Html.Hidden("Id", comment.Id)
                                        @Html.Hidden("Slug", comment.Post.Slug)
                                                <button class="btn-sm btn-danger font-weight-bold btn-block">DELETE</button>
                                            </form>
                                        </div>
                                    </div>

                        }

                        </div>
                    </div>

                @*Modals*@
                    <div class="modal" id="editModal-@comment.Id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Editing Comment...</h4>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form asp-action="Edit" asp-controller="Comments">
                                    @Html.Hidden("Id", comment.Id)

                                        <div class="form-group">
                                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                                        </div>

                                        <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">SUBMIT</button>
                                    </form>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn-sm btn-dark font-weight-bold" data-bs-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="modal" id="moderateModal-@comment.Id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Moderating Comment...</h4>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form asp-action="Moderate" asp-controller="Comments">
                                    @Html.Hidden("Id", comment.Id)
                                    @Html.Hidden("Body", comment.Body)

                                        <div class="form-group">
                                            <label class="control-label">Original Comment</label>
                                            <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Moderated Comment</label>
                                            <textarea name="ModeratedBody" class="form-control" required>@comment.ModeratedBody</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Reason For Moderation</label>
                                            <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn-sm btn-block btn-dark border-success font-weight-bold" type="submit">SUBMIT</button>
                                                </div>
                                                <div class="col">
                                                    <button class="btn-sm btn-block btn-dark font-weight-bold" type="button" data-bs-dismiss="modal">CLOSE</button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn-sm btn-dark font-weight-bold" data-bs-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>

@section Scripts{

        <script src="~/js/Custom.js"></script>

}