﻿@using TheBlogProject.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Enums
@model TheBlogProject.Models.Post

@inject IImageService imageService
@inject UserManager<BTUser> userManager

@{
    ViewData["Title"] = "Details";
}


 <!-- blog-details-area -->
            <section class="blog-details-area pt-10 pb-60">
                <div class="container">
                    <div class="author-inner-wrap">
                        <div class="row justify-content-center">
                            <div class="col-70">
                                <div class="blog-details-wrap">
                                    <div class="blog-details-content">
                                        <div class="blog-details-content-top">
                                            <a asp-controller="Categories" asp-action= "Category" asp-route-id="@Model.CategoryId" class="post-tag">@Model.Category.title</a>
                                            <h2 class="title">@Model.Title</h2>
                                            <div class="bd-content-inner">
                                                <div class="blog-post-meta">
                                                    <ul class="list-wrap">
                                                        <li><i class="flaticon-user"></i>by<a >@Model.PostUser.FullName</a></li>
                                                        <li><i class="flaticon-calendar"></i>@Model.Created?.ToString("dd-MMM-yyyy")</li>
                                                        <li><i class="flaticon-chat"></i><a href="blog-details.html">@Model.Comments.Count Comments</a></li>
                                                    </ul>
                                                </div>
                                              @*  <div class="blog-details-social">
                                                    <ul class="list-wrap">
                                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="blog-details-thumb">
                                            <img src="@imageService.DecodeImage(Model.ImageData,Model.ImageType)" alt="">
                                        </div>

                                        @Html.Raw(Model.Content)

                                        <div class="blog-details-bottom">
                                            <div class="row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="post-tags">
                                                        <h5 class="title">Tags:</h5>
                                                        <ul class="list-wrap">

                                                            @foreach(var tag in Model.Tags)
                                                            {
                                                                  <li><a  asp-action = "SearchIndex"  asp-route-searchTerm="@tag.Text.ToUpper()"   >@tag.Text.ToUpper()</a></li>
                                                            }
                                               
                                                        </ul>
                                                    </div>
                                                </div>
                                                 @*  <div class="col-lg-6">
                                                    <div class="post-share">
                                                        <h5 class="title">Share:</h5>
                                                        <ul class="list-wrap">
                                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-avatar-wrap mb-50">
                                        <div class="blog-avatar-img">
                                            <a href="#"><img src="@imageService.DecodeImage(Model.PostUser.ImageData,Model.PostUser.ImageType)" alt="img"></a>
                                        </div>
                                        <div class="blog-avatar-info">
                                            <span class="designation">Author</span>
                                            <h4 class="name"><a href="author.html">@Model.PostUser.FullName</a></h4>
                                            <p> @Model.PostUser.Bio </p>
                                        </div>
                                    </div>
                                  @*  <div class="pev-next-post-wrap">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="post-item">
                                                    <div class="thumb">
                                                        <a href="blog-details.html"><img src="assets/img/blog/bd_post01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="content">
                                                        <span>Previous Post</span>
                                                        <h5 class="post-title"><a href="blog-details.html">Make May Magnificent <br> Wallpapers Edition</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="post-item next-post">
                                                    <div class="thumb">
                                                        <a href="blog-details.html"><img src="assets/img/blog/bd_post02.jpg" alt=""></a>
                                                    </div>
                                                    <div class="content">
                                                        <span>Next Post</span>
                                                        <h5 class="post-title"><a href="blog-details.html">Write Better By Borrowing <br> Ideas JavaScript Functions</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                 
                                    
                                      <div class="comments-wrap"> 
                                          @if( @Model.Comments.Count != 0 ){
                                            <h3 class="comments-wrap-title">@Model.Comments.Count Comments</h3>
                                          }
                                        <div class="latest-comments" id ="commentSection">
                                           
                                                <!-- Display comments related to this post-->
                                                @foreach(var comment in Model.Comments)
                                                {
                                                <ul class="list-wrap">
                                                    <li>
                                                <div class="comments-box">
                                                            <div class="comments-avatar">
                                                                    <img src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ImageType)" alt="img">
                                                            </div>
                                                            <div class="comments-text">
                                                                <div class="avatar-name">
                                                                    <h6 class="name">@comment.BlogUser.FullName</h6>
                                                                    @*<span class="date">@comment.Created?.ToString("dd/MM/yyyy")</span>*@
                                                                </div>
                                                                    <small>
                                                                  @if(  comment.Moderator is not null  )
                                                                    {
                                                                       <span class="small">
                                                                                <span class="font-weight-bolder">
                                                                                    Moderated <span class="text-danger font-italic">(@comment.ModerationType.ToString().ToLower())</span>
                                                                                </span>
                                                                                : @comment.Moderated?.ToString("dd-MMM-yyyy")
                                                                        </span>
                                                                    }else
                                                                    {
                                                                       var formattedDate = @comment.Created.HasValue ? @comment.Created.Value.ToString("dd-MMM-yyyy") : "<not available>";
                                                                       <span class="small font-italic">Posted : @formattedDate</span>
                                                                 }
                                                                 </small>

                                                                 <!-- Diplay Comment-->
                                                                 
                                                                 @if (string.IsNullOrEmpty(@comment.Body))
                                                                {
                                                                     <p>Comment missing.</p>
                                                                }else if (comment.Moderator is not null)
                                                                {
                                                                             <p>@comment.ModeratedBody</p>
                                                                }
                                                                   else if (comment.Deleted is null)
                                                                {
                                                                       <p>@comment.Body</p>
                                                                }
                                                                else if (comment.Deleted is not null)
                                                                {
                                                                    <p><span class="small font-weight-bolder text-danger font-italic">This comment was deleted.</span></p>
                                                                }
                                                                
                                                                    <div class="btn-group" role="group" aria-label="Basic example">

                                                                        <!--EDIT-->
                                                                @if (comment.BlogUserId == userManager.GetUserId(User) && comment.Moderated is null && comment.Deleted is null)
                                                                {
                                                                          <button  data-bs-toggle="modal" data-bs-target="#editModal-@comment.Id"
                                                                              class="btn btn-warning float-right font-weight-bold">EDIT</button>
                                                                 }

                                                                             <!-- Moderate and Delete Buttons-->
                                                                  @if ((User.IsInRole(BlogRole.Moderator.ToString())) || (User.IsInRole(BlogRole.Administrator.ToString())) && comment.Deleted is null)
                                                                    {
                                                                             <button class="btn btn-primary font-weight-bold btn-block" 
                                                                                             data-bs-toggle="modal" 
                                                                                             data-bs-target="#moderateModal-@comment.Id">MODERATE</button>



                                                                                              <button class="btn btn-danger font-weight-bold btn-block" 
                                                                                                     data-bs-toggle="modal" 
                                                                                                             data-bs-target="#deleteModal-@comment.Id">DELETE</button>
    
                                                                     }
                                                                    </div>



                                                                     @*  Modals Delete  *@
                                                                        <div class="modal" tabindex="-1" id="deleteModal-@comment.Id" >
                                                                          <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                              <div class="modal-header">
                                                                                <h5 class="modal-title">Are you sure you want to delete this?</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                              </div>
                                                                              <div class="modal-body">
                                                                                         <form asp-action="Delete" asp-controller="Comments"  method = "Post" >

                                                                                            <input  name="Id" type="hidden" value="@comment.Id" />
                                                                                            <div class="form-group">
                                                                                                <textarea disabled name="Body" class="form-control" >@comment.Body</textarea>
                                                                                            </div>

                                                                                             <div class="modal-footer">
                                                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                                                       <form asp-action="Delete" asp-controller="Comments">
                                                                                        <input  name="Id" type="hidden" value="@comment.Id" />
                                                                                  
                                                                                         <button type="submit" class="btn btn-danger" >DELETE</button>
                                                                                    </form>

                                                                              </div>

                                                                        @*         <hr/>

                                                                                <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">SUBMIT</button>*@
                                                                                </form>
                                                                              </div>
                                                                              <!--footer-->
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                    @*End Modals Edit*@



                                                               @*Modals Edit*@
                                                                <div class="modal" tabindex="-1" id="editModal-@comment.Id" >
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                                    <h5 class="modal-title">Editing Comment..</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-body">
                                                                                 <form asp-action="Edit" asp-controller="Comments"  method = "Post" >
                                                                                        @* @Html.Hidden("Id", comment.Id)*@

                                                                                        <input  name="Id" type="hidden" value="@comment.Id" />

                                                                                        <input  type="hidden" />

                                                                                        <div class="form-group">
                                                                                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                                                                                        </div>

                                                                                         <div class="modal-footer">
                                                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                                  <button type="submit    " class="btn btn-primary">Save changes</button>
                                                                          </div>

                                                                       @*         <hr/>

                                                                                <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">SUBMIT</button>*@
                                                                            </form>
                                                                          </div>
                                                                          <!--footer-->
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                    @*End Modals Edit*@


                                                    @*Modals Moderate*@
                                                              <div class="modal" tabindex="-1" id="moderateModal-@comment.Id" >
                                                                          <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                              <div class="modal-header">
                                                                                            <h5 class="modal-title">Moderating Comment...</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                              </div>
                                                                              <div class="modal-body">

                                                                                      <form asp-action="Moderate" asp-controller="Comments">
                                                                                               @* @Html.Hidden("Id", comment.Id)
                                                                                                @Html.Hidden("Body", comment.Body)*@

                                                                                                <input  name="Id" type="hidden" value="@comment.Id" />
                                                                                                 <input  name="Body" type="hidden" value="@comment.Body" />

                                                                                                <div class="form-group">
                                                                                                    <label class="control-label">Original Comment</label>
                                                                                                    <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                                                                                                </div>

                                                                                                <div class="form-group">
                                                                                                    <label class="control-label">Moderated Comment</label>
                                                                                                    <textarea name="ModeratedBody" class="form-control" required>@comment.ModeratedBody</textarea>
                                                                                                </div>

                                                                                                <div class="form-group">
                                                                                                    <label class="control-label">Reason For Moderation</label>
                                                                                                    <select class="form-control" asp-for="@comment.ModerationType" 
                                                                                                           name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                                                                                                </div>


                                                                                                      <div class="modal-footer">
                                                                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                                                      <button type="submit    " class="btn btn-primary">Save changes</button>
                                                                                              </div>


                                                                                        </form>

                                                                              </div>
                                                                              <!--footer-->


                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                    @*End Modals Moderate*@





                                                                
                                                            </div>
                                                        </div>

                                                          </li>
                                            </ul>
                                                    }
                                              
                                        </div>
                                    </div>

                                    <!-- Post a comment  -->
                                    @if(!User.Identity.IsAuthenticated)
                                    {
                                         <a class="btn btn-block btn-lg  btn-dark" asp-area="Identity" asp-page="/Account/Login">Login to add comments</a>
                                    }else
                                    {
                                             <!-- Display add comments-->
                                            <div class="comment-respond">
                                            <h3 class="comment-reply-title">Post a comment</h3>
                                            <form asp-action= "Create" asp-controller = "Comments" class="comment-form" method="post">
                                                 @Html.Hidden("PostId", Model.Id)
                                                <div class="form-grp">
                                                     <textarea id="Message" name="body" placeholder="Comment"></textarea>
                                                </div>
                                                 <!--   onclick="ValidateComments()" need fix-->
                                                  <button type="submit" onclick="ValidateComments()" class="btn btn-two">Post Comment</button>
                                            </form>
                                        </div>
                                    }
                                  <!--End Post a comment  -->
                                </div>
                            </div>

                             <!--SIDEBAR-->
                             <partial name="_Sidebar" />

                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-details-area-end -->


@section Scripts{

        <script src="~/js/Custom.js"></script>

}